<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IUserManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_INotificationService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGameService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8081/MessageService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IUserManager" contract="ConnectService.IUserManager"
    name="NetTcpBinding_IUserManager" />
   <endpoint address="net.tcp://localhost:8081/MessageService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="ConnectService.IChatService"
    name="NetTcpBinding_IChatService" />
   <endpoint address="net.tcp://localhost:8081/MessageService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IMatchService" contract="ConnectService.IMatchService"
    name="NetTcpBinding_IMatchService" />
   <endpoint address="net.tcp://localhost:8081/MessageService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_INotificationService" contract="ConnectService.INotificationService"
    name="NetTcpBinding_INotificationService" />
   <endpoint address="net.tcp://localhost:8081/MessageService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IGameService" contract="ConnectService.IGameService"
    name="NetTcpBinding_IGameService" />
  </client>
	</system.serviceModel>
	<appSettings>
		<add key="MUSIC_EFFECT" value="false"/>
		<add key="SOUND_EFFECT"  value="true"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>